<%- include('./partials/header') %>
  <main>
    <div class="ui segment">
      <h1>Ofertas Route</h1>
      <p>Duas Pizzas Colombini por R$89,90!</p>
      <img src ="/public/images/pizza.jpg" alt="Pizza Promoção">
    </div>
  </main>

  <footer>
    <%- include('./partials/footer') %>
  </footer>

  </body>
</html>