<%- include('./partials/header') %>
  <main>
    <div class="ui segmen  d-flex flex-column align-items-center">
      <section class="pt-3 pb-5\" style="max-width: 1000px; margin: 0 auto;">
        <h2 class="mb-4 fw-bold text-start">🍕 Tradizionale</h2>
      
        <!-- Item -->
        <div class="d-flex mb-5 gap-4">
          <img src="/images/colombinifoto.jpeg" alt="Colombini" class="rounded" style="width: 150px; height: 150px; object-fit: cover;">
          <div>
            <h5 class="fw-bold mb-1">Colombini</h5>
            <p class="mb-2">Molho de tomate da casa, mozzarella, tomate em rodelas, lombo canadense, catupiry e manjericão.</p>
            <p class="mb-0 fw-semibold text-success">P - R$ 34</p>
            <p class="mb-0 fw-semibold text-success">G - R$ 58</p>
          </div>
        </div>
      
        <!-- Outro item -->
        <div class="d-flex mb-5 gap-4">
          <img src="/images/nordestina.jpeg" alt="nordestina" class="rounded" style="width: 150px; height: 150px; object-fit: cover;">
          <div>
            <h5 class="fw-bold mb-1">Nordestina</h5>
            <p class="mb-2">Molho de tomate da casa, mozzarella, carne de sol, queijo coalho e cebola roxa.</p>
            <p class="mb-0 fw-semibold text-success">P - R$ 34</p>
            <p class="mb-0 fw-semibold text-success">G - R$ 58</p>
          </div>
        </div>
      
        <!-- Adicione mais sabores aqui -->

        <div class="d-flex mb-5 gap-4">
          <img src="/images/frangoamodaa.jpeg" alt="nordestina" class="rounded" style="width: 150px; height: 150px; object-fit: cover;">
          <div>
            <h5 class="fw-bold mb-1">Frango à Moda</h5>
            <p class="mb-2">Molho de tomate da casa, mozzarella, frango, Catupiry e bacon.</p>
            <p class="mb-0 fw-semibold text-success">P - R$ 34</p>
            <p class="mb-0 fw-semibold text-success">G - R$ 58</p>
          </div>
        </div>

        <div class="d-flex mb-5 gap-4">
          <img src="/images/pepperonicream.jpeg" alt="nordestina" class="rounded" style="width: 150px; height: 150px; object-fit: cover;">
          <div>
            <h5 class="fw-bold mb-1">Pepperoni com Cream Cheese</h5>
            <p class="mb-2">Molho de tomate da casa, mozzarela, pepperoni e cream cheese. </p>
            <p class="mb-0 fw-semibold text-success">P - R$ 30</p>
            <p class="mb-0 fw-semibold text-success">G - R$ 52</p>
          </div>
        </div>

        <div class="d-flex mb-5 gap-4">
          <img src="/images/portuguesaricaa.jpeg" alt="nordestina" class="rounded" style="width: 150px; height: 150px; object-fit: cover;">
          <div>
            <h5 class="fw-bold mb-1">Portuguesa Rica</h5>
            <p class="mb-2">Molho de tomate da casa, mozzarela, calabresa, presunto, bacon, ovos, cebola e pimentão verde.</p>
            <p class="mb-0 fw-semibold text-success">P - R$ 32</p>
            <p class="mb-0 fw-semibold text-success">G - R$ 56</p>
          </div>
        </div>
      </section>
      
      
      
      
    </div>
  </main>

  <footer>
    <%- include('./partials/footer') %>
  </footer>

  </body>
</html>